# Node
ui/node_modules/
ui/dist/

# Python
backend/.venv/
backend/__pycache__/
backend/.mypy_cache/
backend/.pytest_cache/
backend/.ruff_cache/
backend/backend.egg-info/

# Environment
.env

# Docker
*.log

# OS
.DS_Store

# pre-commit cache
.ruff_cache/

# tmp
tmp/
