.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.build/
build/
dist/
.venv/
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.DS_Store
node_modules/
Dockerfile*
**/docker-compose*.yml
**/docker-compose*.yaml
