.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.layout-body {
  flex: 1;
  display: flex;
  min-height: 0;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 0;
}
